.relative {
    position: relative;
    width: 60px;
    margin: 0;
    padding: 0;
}
.absolute-text {
    float: left;
    position: absolute;
    bottom: 0;
    font-size: 3.5vw;
    padding: 2vw;
    width: 110%;
    text-align: center;
    color: white;
    margin: 0;
}
.BOP {
    box-sizing: border-box;
    display: block;
    height: 15vw;
    width: 99.95vw;
    margin-left: -0.5vw;
    margin-top: -0.5vw;
    padding: 0;
    border: 0;
}
.BOP1 {
    box-sizing: border-box;
    display: block;
    height: 15vw;
    width: 98.5vw;
    margin-left: -0.5vw;
    margin-top: -0.5vw;
    padding: 0;
    border: 0;
}
.nav1 {
    width: 97w;
    display: block;
    margin: 0;
    widows: 90vw;
    background-color: black;
    height: 2.75vw;
}
.nav1 li {
    display: inline;
    font-size: 1.8vw;
    text-align: center;
    margin: 17vw;
    color: white;
}

.nav1 li a {
    color: white;
}

.nav1 li a:hover {
    color: cornflowerblue;
}
.nav2 {
    width: 96.5vw;
    display: block;
    margin: 0;
    widows: 90vw;
    background-color: black;
    height: 2.75vw;
}
.nav2 li {
    display: inline;
    font-size: 1.8vw;
    text-align: right;
    margin: 17vw;
    color: white;
}

.nav2 li a {
    color: white;
}

.nav2 li a:hover {
    color: cornflowerblue;
}