.relative {
    position: relative;
    width: 60px;
    margin: 0;
    padding: 0;
}
.absolute-text {
    float: left;
    position: absolute;
    bottom: 0;
    font-size: 3.5vw;
    padding: 2vw;
    width: 110%;
    text-align: center;
    color: white;
    margin: 0;
}
.BOP {
    box-sizing: border-box;
    display: block;
    height: 15vw;
    width: 99.95vw;
    margin-left: -0.5vw;
    margin-top: -0.5vw;
    padding: 0;
    border: 0;
}
.nav7 {
    background-color: black;
    width: 97vw;
    display: block;
    margin:0;
    widows: 90vw;
    height: 2.75vw;
}