.relative {
    position:relative;
    width:60px;
}
.absolute-text{
    position: absolute;
    bottom:0;
    font-size:50px;
    padding:40%;
    width:110%;
    text-align:center;
    color:white;
    margin:0;
    
}
.BOP {
    height:230px;
    width:1520px;

}
.navmenu{
    margin:2px;
    margin-bottom:5px;
    background-color: black;
    height:40px;
}
.navmenu li{
    display:inline;
    font-size:30px;
    text-align:right;
    margin:95px;
    color: white;
}
.navmenu li a{
    color:white;
}
.navmenu li a:hover{
    color: cornflowerblue;
}
.restaurantimg1{
    width:670px;
    height:400px;
    float:left;

}
.welcome {
    text-align:center;
    color:cornflowerblue;
}