.relative {
    position:relative;
    width:60px;
}
.absolute-text{
    position: absolute;
    bottom:0;
    font-size:50px;
    padding:40%;
    width:110%;
    text-align:center;
    color:white;
    margin:0;
    
}
.BOP {
    height:230px;
    width: 98vw;

}
.navmenu{
    widows:90vw;
    margin:2px;
    margin-bottom:5px;
    background-color: black;
    height:40px;
}
.navmenu li{
    display:inline;
    font-size:30px;
    text-align:right;
    margin:95px;
    color: white;
}
.navmenu li a{
    color:white;
}
.navmenu li a:hover{
    color: cornflowerblue;
}
.restaurantimg1{
    width:45vw;
    height:29vw;
    float:left;

}
.welcome {
    font-size:2vw;
    text-align:center;
    color: cornflowerblue;
}
.blurb {
    font-size: 1.5vw;
    text-align: center;
    color:black;
}
.maori {
    float:right;
    height:15vw;    
    width:52.5vw;
}