.relative {
    position:relative;
    width:60px;
    margin:0;
    padding:0;
}
h1 {
    margin:0;
}
.absolute-text{
    float:left;
    position: absolute;
    bottom:0;
    font-size:50px;
    padding:40%;
    width:110%;
    text-align:center;
    color:white;
    margin:0;  
}
.BOP {
    box-sizing: border-box;
    display:block;
    height:15vw;
    width:99.95vw;
    margin-left:-0.5vw;
    margin-top:-0.5vw;
    padding:0; 
    border:0;
}
.BOP1 {
    box-sizing: border-box;
    display:block;
    height:15vw;
    width:100vw;
    margin:0;
    padding:0; 
    border:0;
}
.navmenu2 {
    widows: 97.45vw;
    display:block;
    margin:0;
    widows:90vw;
    background-color:black;
    height:2.5vw;
}
.navmenu2 li {
    display:inline;
    font-size:1.8vw;
    text-align:right;
    margin:6vw;
    color: white;
}
.navmenu2 li a{
    color:white;
}
.navmenu2 li a:hover {
    color:cornflowerblue;
}
.navmenu1 {
    width:97.34999vw;
    display:block;
    margin: 0;
    margin-left:-0.5vw; 
    widows:90vw;
    background-color: black;
    height:2.5vw;
}
.navmenu1 li{
    display:inline;
    font-size:1.8vw;
    text-align:right;
    margin:6vw;
    color: white;
}
.navmenu1 li a{
    color:white;
}
.navmenu1 li a:hover{
    color: cornflowerblue;
}
.restaurantimg1{
    width:47.5vw;
    height:26vw;
    float:left;
    margin-left:-0.5vw;
    padding:0;
}
.welcome {
    margin-top:0.5vw;
    font-size:2.5vw;
    text-align:center;
    color: cornflowerblue;
}
.blurb {
    font-size: 1.3vw;
    text-align: center;
    color:black;
    padding-bottom:0vw;
}
.maori {
    float:right;
    height:13.5vw;    
    width:49vw;
}
.footer {
    background-color:white;
    text-align:left;
    font-size: 1vw;
}
.container {
    float:left;
    margin-right:1.5vw;
}
.contacthead {
    font-size:2.5vw;
    text-align:center;  
    float:center;
}
.contact {
    margin-bottom:2.6vw;
    font-size:1.1vw;
}

.contact a:hover {
    color:cornflowerblue;
}
.footer{
    padding-bottom:0vw;
    margin-top:0vw;
    text-align:left;
    font-size:1.1vw;
    margin-bottom:0;
}
.body {
    margin:0;
    padding:0;
}
.header {
    margin:0;
    padding:0;
}
